{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
  <h1 class="bg-white-400 text-3xl">About Us</h1>

  <div class="mt-6 px-6 py-6 text-xl rounded-xl bg-white-500">
    <p><h1>Welcome to BuyandSellDirectly, your one-stop destination for buying and selling a diverse range of products directly from other customers.</h1>
        <br>
        <h1>At BuyandSellDirectly, we believe in fostering a vibrant community where individuals can connect with ease, whether they're looking to declutter their homes or find unique treasures.</h1>
        <br>
        <h1>Our platform empowers users to buy and sell with confidence, offering direct communication between buyers and sellers.</h1>
        <br>
        <h1>Join BuyandSellDirectly today and experience the convenience of a peer-to-peer marketplace like never before.</h1>
  </div>
{% endblock %}