{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
  <h1 class="bg-white-400 text-3xl">Privacy Policy</h1>

  <div class="mt-6 px-6 py-6 text-xl rounded-xl bg-white-500">
    <p><h1>At BuyandSellDirectly, we take your privacy seriously.</h1>
        <br>
        <h1>Our Privacy Policy outlines how we collect, use, and safeguard your personal information when you use our website.</h1>
        <br>
        <h1>We are committed to protecting your data and ensuring transparency in our practices.</h1>
        <br>
        <h1>By using BuyandSellDirectly, you consent to the terms outlined in our Privacy Policy.</h1>
  </div>
{% endblock %}