{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
  <h1 class="bg-white-400 text-3xl">Terms of Use</h1>

  <div class="mt-6 px-6 py-6 text-xl rounded-xl bg-white-500">
    <p> <h1>By accessing and using the BuyandSellDirectly website, you agree to comply with our Terms of Use.</h1>
        <br>
        <h1>These terms govern your use of our platform, including buying and selling products, communication with other users, and content submission.</h1>
        <br>
       <h1>It's important to review and understand these terms to ensure a positive experience for all members of the BuyandSellDirectly community.</h1>
        </p>
  </div>
{% endblock %}